body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #ffffff;
	background-color: #849d8f;

}

a{
	text-decoration: none;
}

img{
	max-width: 100%;
	max-height: auto;
}

.invisible{
	display: none;
}

.visually-hidden:not(:focus):not(:active){
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  min-width: 1146px;
  background-color: #849d8f;
  background-image: url("img/slider/slide1-2ice-cream-and-light.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-header{
	display: flex;
	justify-content: space-between;
}

.main-header-logo{
	width: 154px;
	height: 64px;
	margin-top: 10px;
	margin-right: 10px;
   ;	
    
 }


.site-navigation,
.user-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation{
  display: flex;
  justify-content: space-between;
}

.site-navigation{
	max-width: 853px;
}


.main-catalog-submenu{
	display: none;
}

.site-navigation a,
.user-navigation a {
  display: block;
  vertical-align: middle;
  position: relative;
}

.site-navigation .site-navigation-item{
  position: relative;
  margin-top: 23px;
  margin-bottom: 17px;
  margin-right: 0;
  padding-right: 14px;
  padding-left: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 18px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
 }

.site-navigation-item span{
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

   
 .site-navigation .open{
 	background-color: #d07058;
 	border-radius: 20px;
 	
 }

 .site-navigation .open span{
 	border: none;
 }


.site-navigation .site-navigation-item:hover{
  background-color: #f7f6f3;
  color: #323232;
  border-radius: 20px;
 }


 .site-navigation .site-navigation-item:active{
 	box-shadow: 0 -1px 4px 0 #696969;
 }

 .current:hover .main-catalog-submenu{
	display: block;
}

.main-catalog-submenu{
	position: absolute;
	top: 55px;
	padding: 0;
	min-width: 142px;
	background-color: #f8f7f4;
	list-style: none;
    margin-top: 7px;
    border-radius: 5px;
    box-shadow: 0 15px 40px 0 #323232;
}

 .main-catalog-submenu .submenu-item{
	display: block;
	margin-right: 0;
	padding: 0;
    line-height: 16px;
    font-size: 14px;
    padding-left: 18px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
	color: #323232;
	font-weight: 400;
}

.main-catalog-submenu li a{
	margin-right: auto;
	margin-left: auto;
}

/*Не получается подчеркивание по ширине сделать, как на макете */
.main-catalog-submenu li:first-child a{
	font-weight: 700;
	margin-top: 5px;
	border-bottom: 1px solid #d1d0ce;
}

.main-catalog-submenu a:hover{
	background-color: #fbded7;
	color: #323232;
}

.main-catalog-submenu a:active{
	background-color: #f6b5a5;
	color: #323232;
}

.main-catalog-submenu .current{
	background-color: #d07058;
	color: #ffffff;
}


.main-catalog-submenu li:last-child a{
	 margin-bottom: 13px;
}

.user-navigation{
    position: relative;
    min-width: 267px;
    justify-content: flex-end;
}

 .user-navigation .user-navigation-item{
 	height: 18px;
 	line-height: 16px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
 	margin-top: 23px;
    margin-bottom: 17px;
 	margin-right: 10px;
 	padding-top: 9px;
 	padding-bottom: 9px;
 	padding-left: 17px;
 	padding-right: 17px;
 	background-color: rgb(255, 255, 255, 0.2);
 	border-radius: 20px;
 }

 .user-navigation .user-navigation-item:first-child{
 	border-radius: 50%;
  }

/*Не обнуляется отступ справа у последнего элемента */
  .user-navigation .user-navigation-item:last-child{
  	margin-right: 0;
  }

.user-navigation-item:hover{
  	color: #323232;
  	background-color: #f8f7f4;
  }

/*У корзины колесики не меняют цвет*/
  .user-navigation-item:hover path{
  	fill: #323232;
  }

 .user-navigation .site-search{
 	width: 17px;
 	height: 17px;
 	padding: 7px;
 }

.user-navigation .login-link{
	display: flex;
	align-items: center;
	justify-content: space-between;
    width: 58px;
}

.user-navigation .basket-link{
	display: flex;
	align-items: center;
	justify-content: space-between;
    width: 66px;
}

.worktime-phone{
	position: absolute;
	top: 80px;
}

.user-navigation .worktime-phone{
	text-align: right;
	top: 60px;
	line-height: 16px;
	font-size: 14px;
	font-weight: 700;
}

.worktime-phone .telephone{
    line-height: 24px;
    font-size: 22px;
    color: #ffffff;
    padding-top: 5px;
}

.two-column{
	display: flex;
	height: 220px;
	align-items: stretch;
	justify-content: space-between;
	margin-bottom: 40px;
}

.main-new-in-blog{
	width: 560px;
	padding-top: 25px;
	padding-left: 20px;
	background-image: url("../img/strawberry-background.png");
	background-repeat: no-repeat;
}

.main-new-in-blog h3{
	width: 285px;
}

.main-new-in-blog h2{
	margin: 0;
	padding: 0;
}

.mailing{
	position: relative;
	width: 560px;
	background-image: url("../img/bg-post.svg");
	background-repeat: no-repeat;
}

.mailing .back{
	position: absolute;
	background-color: #f8f7f4;
	height: 210px;
	margin: 5px;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.main-footer{
	display: flex;
	margin-top: 40px;
	margin-bottom: 25px;
	justify-content: space-between;
	min-height: 65px;
}

.footer-social{
	display: flex;
	width: 267px;
}

.footer-menu{
	display: flex;
	justify-content: center;
	width: 560px;
}

.footer-html-academy{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-content: center;
	width: 267px;
}

.breadcrumbs{
	list-style: none;
	margin-top: 25;
	margin-bottom: 10px;
	padding: 0;
}

.breadcrumbs li{
	display: inline;
}

.category-title{
	margin: 0;
	padding: 0;
}

.catalog-creamy-cards{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;margin-top: 40px;
}

.catalog-creamy-cards .card{

	width: 267px;
}

.main-features{
	color: #323232;
	background-image: url("../img/wafer-pattern.jpg");
	border-radius: 15px;
	padding-top: 30px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 30px;
	margin-bottom: 40px;
}

.main-features h3{
	margin: 0;
	padding: 0;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

.main-features ul{
	list-style: none;
}

.main-features p{
	font-size: 16px;
	line-height: 22px;
}


.main-new-in-blog h2{
	font-size: 16px;
	line-height: 22px;
	color: #323232;
}

.main-new-in-blog .title{
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	border-bottom: 1px solid rgb(50, 50, 50, 0.3);
}

.main-new-in-blog .title:hover,
.main-new-in-blog .title:focus {
	color: #e84d37;
	text-decoration: none;
	border-bottom: 1px solid rgb(232, 77, 55, 0.3);
}


.mailing p{
	font-size: 16px;
	line-height: 22px;
	color: #5a5a5a;
}

.mailing input{
	font-size: 16px;
	line-height: 24px;
	color: #999999;
	border: 1px solid #d3d3d2;
}

.mailing input:hover {
	border: 1px solid #c7c6c5;
}

.mailing input:active {
	border: 1px solid #8fbdec;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: #e95139;
  border: none;
}

.button:hover,
.button:focus,
.button:active{
	background-color: #f07a63;
}

.main-footer ul{
	list-style: none;
}

.main-footer a{
	color: #ffffff;
	font-size: 13px;
	line-height: 18px;
    border-bottom: 1px solid #d1d0ce;
}

.main-footer a:hover,
.main-footer a:active {
	color: #ffbc9e;
	border-bottom: 1px solid #ffbc9e;
}

.footer-html-academy a.logo,
.footer-html-academy a.logo:hover,
.footer-html-academy a.logo:active{
	border-bottom: none;
}

.footer-menu li:first-child{
	font-weight: 700;
}



.breadcrumbs a{
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	border-bottom: 1px solid #d1d0ce;
}

.breadcrumbs .current{
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
	color: #ffbc9e;
	border-bottom: 1px solid #ffbc9e;
}

.container-catalog h1{
	color: #ffffff;
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
}

.catalog-creamy ul{
	list-style: none;
}

.catalog-creamy a{
	color: #ffffff;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	border-bottom: 1px solid #d1d0ce;
}

.catalog-creamy a:hover,
.catalog-creamy a:active {
	color: #ffbc9e;
	border-bottom: 1px solid #ffbc9e;
}

.catalog-creamy a.img{
	border-bottom: none;
}


/*.site-navigation,
.user-navigation,
.main-catalog-submenu{
	list-style: none;
	margin: 0;
	padding: 0;

}

.main-navigation{
	display: flex;
	justify-content: space-between;
}

.site-navigation{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	width: 693px;
	line-height: 18px;
	color: #ffffff;
	height: 0;
}


.site-navigation a,
.user-navigation a
{
	display: block;
	padding: 27px 26px;
    vertical-align: middle;
}

a.menu-button{

}

.user-navigation{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-basis: 267px;
	justify-content: flex-end;
	font-size: 14px;
	line-height: 16px; 
}

.site-navigation .main-catalog-submenu{
	margin: 0;
	padding: 0;
	display: none;
}


.open:hover .main-catalog-submenu{
	display: block;
	position: absolute;
	top: 60px;
	padding: 0;
}


.site-navigation a{
	color: #ffffff;
	border-bottom: 1px solid rgb(255, 255, 255, 0.2);
	
} 


.site-navigation>li>a:hover{
	color: #323232;
	border: none;
}

.site-navigation>li>a.current{
	background-color: #d07058;
}

.site-navigation>li>a:hover{
	background-color: #f7f6f3;
	border-radius: 20%
	padding-top: 5px;
	padding-bottom: 5px;
}

.site-navigation>li>a:focus{

}

.site-navigation>li li>a{
	margin: 0;
	color: #323232;
	font-size: 14px;
	line-height: 16px;
}

.site-navigation>li li:first-child>a{
	font-weight: 700;
	border-bottom: 1px solid #d1d0ce;
}

.site-navigation>li li>a:hover{
	background-color: #fbded7;
}

.site-navigation>li li>a:focus{
	background-color: #ebb3a6;
}

.site-navigation>li li>a.current{
	background-color: #d07058;
	color: #ffffff;
}


.user-navigation .telephone{
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
}

.user-navigation>a{
	font-size: 14px;
	line-height: 16px; 
	color: #ffffff;
}

.user-navigation>a:hover{
	color: #323232;
	background-color: #f7f6f3;
}*/