body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #ffffff;
	 background-color: #849d8f;
}

a{
	text-decoration: none;
	color: #ffffff;
}

a:hover,
a:active,
a:focus{
	color: #ffbc9e;
	border-bottom: 1px solid #ffbc9e;
}

img{
	max-width: 100%;
	max-height: auto;
}

.invisible{
	display: none;
}

.visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-wrapper {
  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
 }

 .container {
  width: 1146px;
  margin: 0 auto;
  margin-bottom: 0px;
  padding: 0 27px;
}

 .site-wrapper::before,
 .site-wrapper::after{
  content: "";
  visibility: hidden;
}

.site-wrapper::before{
  background-image: url("../img/Slider/slide2-2ice-cream-and-light.png");
}

.site-wrapper::after{
  background-image: url("../img/Slider/slide3-2ice-cream-and-light.png");
}

.button {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button:hover{
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  border-bottom: none;
  color: #ffffff;
}

.button:active,
.button:focus{
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  border-bottom: none;
  color: #ffffff;
}


.main-header{
	display: flex;
	justify-content: space-between;
}

.main-header-logo{
	width: 154px;
	height: 64px;
	margin-top: 10px;
	margin-right: 10px;
}


.site-navigation,
.user-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation{
  display: flex;
  justify-content: space-between;
}

.site-navigation{
	max-width: 853px;
}


.main-catalog-submenu{
	display: none;
}

.site-navigation a,
.user-navigation a {
  display: block;
  vertical-align: middle;
  border-bottom: none;
  
}
.site-navigation-item{
  margin-top: 23px;
  margin-bottom: 17px;
  margin-right: 0;
  padding-right: 14px;
  padding-left: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 18px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
 }

.site-navigation-item span{
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu-button .current-menu-item{
	background-color: #d07058;
	border-radius: 20px;
}

.current-menu-item span{
	border-bottom: none;
}
   
 .site-navigation .open{
 	background-color: #d07058;
 	border-radius: 20px;
 	
 }

 .site-navigation .open span{
 	border: none;
 }



.site-navigation .site-navigation-item:hover{
  background-color: #f7f6f3;
  color: #323232;
  border-radius: 20px;
 }


 .site-navigation .site-navigation-item:active{
 	box-shadow: 0 -1px 4px 0 #696969;
 }

 .current:hover .main-catalog-submenu{
	display: block;
}

.menu-button{
	position: relative;
}

.main-catalog-submenu{
	position: absolute;
	z-index: 1;
	top: 62px;
	left: -10px;
	padding: 0;
	min-width: 145px;
	background-color: #f8f7f4;
	list-style: none;
    border-radius: 5px;
    box-shadow: 0 15px 40px 0 #323232;
}

 .main-catalog-submenu .submenu-item{
	display: block;
	margin-right: 0;
	padding: 0;
    line-height: 16px;
    font-size: 14px;
    padding-left: 23px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
	color: #323232;
	font-weight: 400;
}

.main-catalog-submenu li:first-child a{
	font-weight: 700;
	margin-top: 5px;
}

.main-catalog-submenu li:first-child a:after{
	position: absolute;
	display: block;
	content: "";
	width: 130px;
	height: 1px;
	background-color: #d1d0ce;
	left: 5px;
	top: 37px;
}

.main-catalog-submenu a:hover{
	background-color: #fbded7;
	color: #323232;
}

.main-catalog-submenu a:active{
	background-color: #f6b5a5;
	color: #323232;
}

.main-catalog-submenu .current{
	background-color: #d07058;
	color: #ffffff;
}


.main-catalog-submenu li:last-child a{
	 margin-bottom: 13px;
}

.user-navigation{
	justify-content: flex-end;
    min-width: 267px;
    position: relative;

}

.user-navigation-items{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	list-style: none;
	margin: 0;
	padding: 0;
}

.user-navigation-item{
	position: relative;
}

 .user-navigation-item a{
 	display: block;
 	position: relative;
 	height: 18px;
 	line-height: 16px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    margin-top: 23px;
    margin-bottom: 17px;
 	margin-right: 9px;
 	padding-top: 7px;
 	padding-bottom: 7px;
 	padding-left: 17px;
 	padding-right: 17px;
 	background-color: rgb(255, 255, 255, 0.2);
 	border-radius: 20px;
 }

 .user-navigation-item:first-child{
 	border-radius: 50%;
  }

.user-navigation-item:last-child{
  	margin-right: 0;
  }

 .user-navigation-item:nth-last-child(2) a{
  	margin-right: 0;
  }

.un-menu-link:hover{
  	color: #323232;
  	background-color: #f8f7f4;

 }

 .un-menu-link:hover path{
 	fill: #323232;
 }

 .user-navigation .site-search{
 	width: 17px;
  	padding: 7px;
 	
 }

.user-navigation .login-link{
	display: flex;
	align-items: center;
	justify-content: space-between;
    width: 58px;
}

.user-navigation .basket-link{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.basket-link span{
	padding-left: 5px;
}

.user-navigation .basket-full{
	background-color: #f7f6f3;
	color: #323232;
	font-weight: 600;
}

.worktime-phone{
	position: absolute;
	text-align: right;
	top: 60px;
	right: 0;
	line-height: 16px;
	font-size: 14px;
	font-weight: 700;
	z-index: 1;
}

.worktime-phone .telephone{
    line-height: 24px;
    font-size: 22px;
    color: #ffffff;
    padding-top: 5px;
}

.slider{
	position: relative;
    padding-top: 321px;
    text-align: center;
    color: #ffffff;
}

.slider-list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider-controls{
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label{
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slide{
  display: none;
}

.slider-controls label:hover{
  background-color: rgba(255,255,255,0.4);
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3{
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"]{
  background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper{
  background-color: #849d8f;
  background-image: url("../img/Slider/slide1-2ice-cream-and-light.png");
}

#product-2:checked ~ .site-wrapper{
  background-color: #8996a6;
  background-image: url("../img/Slider/slide2-2ice-cream-and-light.png");
}

#product-3:checked ~ .site-wrapper{
  background-color: #9d8b84;
  background-image: url("../img/Slider/slide3-2ice-cream-and-light.png");
}

.slide-button{
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
}

.main-promo{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 38px;  
}


.main-promo-item{
   	width: 521px;
    border-radius: 20px;

    padding-top: 19px;
    padding-bottom: 23px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 18px;
	line-height: 22px;
	background-position: center center;


}

.main-promo-item:nth-child(2){
	background-image: url("../img/Discount/raspberries-background.jpg");
	background-repeat: no-repeat;

}

.main-promo-item:nth-child(3){
	background-image: url("../img/Discount/chocolate background.jpg");
	background-repeat: no-repeat;
}

.main-promo-item h3{

	padding: 0;
	margin: 0;
	margin-bottom: 15px;
	font-size: 35px;
	line-height: 41px;
	font-weight: 800;
}

.main-promo-item p{
	margin: 0;
	padding: 0;
	padding-bottom: 45px;
}

.main-promo-button{
	font-size: 18px;
	line-height: 24px;
	padding-right: 23px;
	padding-left: 23px;
	padding-top: 11px;
	padding-bottom: 11px;
	
    float: right;

}

.main-hits, 
.cards-catalog{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: 38px;
}


.cards-catalog .card{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	max-width: 267px;
	position: relative;
	text-align: center;
	margin-right: 25px;
	margin-bottom: 40px;
}

.main-hits .card{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	max-width: 267px;
	position: relative;
	text-align: center;
	margin-right: 25px;
}

.cards-catalog .card:nth-child(4n+4){
	margin-right: 0;
}

.main-hits .card:nth-child(5n+5){
	margin-right: 0;
}

.main-card:before{
	content: "";
	position: absolute;
	width: 61px;
	height: 61px;
	background-image: url("../img/Icons/hit.svg");
}

.card:after{
	display: none;
	content: "";
	position: absolute;
	width: 294px;
	min-height: 407px;
	top: -10px;
	left: -14px;
	background-color: rgb(255, 255, 255, 0.2);
	border-radius: 5px;
	box-shadow: 0 10px 20px 0 rgb(49, 49, 49, 0.2);
	z-index: 1;
}

.card:hover:after{
	display: block;
}

.card:hover .card-content{
	z-index: 15;
}

.card:hover:before{
    z-index: 16;
}

.card:hover .card-button{
    display: inline-block;
}

.card .photo{
    width: 267px;
	border-radius: 50%;
}

.card-button{
	position: absolute;
	bottom: -55px;
	display: none;
	font-size: 18px;
	text-shadow: none;
	line-height: 24px;
	padding-left: 17px;
	padding-right: 17px;
	align-self: center;
}


.main-hits .main-prise,
.cards-catalog .main-prise
{
	position: absolute;
	font-size: 45px;
	line-height: 45px;
	font-weight: 800;
	bottom: 20px;
}

.main-prise span{
	font-size: 30px;
	line-height: 45px;
}

.link-block{
    margin-top: 8px;
}

.card .photo-link{
	align-self: center;
	border-bottom: none;
}

.main-features{
	margin-top: 40px;
	margin-bottom: 40px;
	color: #323232;
	background-image: url("../img/wafer-pattern.jpg");
	border-radius: 15px;
	padding-top: 25px;
	padding-left: 21px;
	padding-right: 15px;
}

.main-features h3{
	margin: 0;
	padding: 0;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

.main-features .features-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 20px;
}

.feature-item{
	position: relative;
	width: 487px;
	padding-left: 54px;
	margin-bottom: 25px;
}

.feature-item:first-child:before{
	content: "";
	position: absolute;
	left: 0;
	top: -10px;
	width: 49px;
	height: 49px;
	background-image: url("../img/Icons/ice-cream.svg");
}

.feature-item:nth-child(2):before{
    content: "";
	position: absolute;
	left: 0;
	top: -10px;
	width: 49px;
	height: 49px;
	background-image: url("../img/Icons/cow.svg");
}

.feature-item:nth-child(3):before{
    content: "";
	position: absolute;
	left: 0;
	top: -10px;
	width: 49px;
	height: 49px;
	background-image: url("../img/Icons/eco.svg");
}

.feature-item:nth-child(4):before{
    content: "";
	position: absolute;
	left: 0;
	top: -10px;
	width: 49px;
	height: 49px;
	background-image: url("../img/Icons/thermometer.svg");
}



.main-features p{
	font-size: 16px;
	line-height: 22px;
	margin: 0;
	padding: 0;
}

.two-column{
	display: flex;
	height: 220px;
	align-items: stretch;
	justify-content: space-between;
	margin-bottom: 40px;
}

.main-new-in-blog{
	width: 560px;
	padding-top: 25px;
	padding-left: 20px;
	background-image: url("../img/strawberry-background.png");
	background-repeat: no-repeat;
}

.main-new-in-blog h3{
	margin: 0;
	padding: 0;
	width: 285px;
}

.main-new-in-blog h2{
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 22px;
	color: #323232;
}

.main-new-in-blog .title{
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	border-bottom: 1px solid rgb(50, 50, 50, 0.3);
}

.main-new-in-blog .title:hover,
.main-new-in-blog .title:focus {
	color: #e84d37;
	text-decoration: none;
	border-bottom: 1px solid rgb(232, 77, 55, 0.3);
}


.mailing{
	position: relative;
	width: 560px;
	background-image: url("../img/bg-post.svg");
	background-repeat: no-repeat;
}

.mailing .back{
	position: absolute;
	background-color: #f8f7f4;
	height: 210px;
	margin: 5px;
	border-radius: 10px;
	padding-left: 21px;
	padding-right: 20px;
}

.mailing p{
	margin-top: 28px;
	font-size: 16px;
	line-height: 22px;
	color: #5a5a5a;
}

.button-mailing{
	padding-right: 17px;
	padding-left: 17px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 18px;
	line-height: 24px;
	float: right;
}

.mailing input{
	box-sizing: border-box;
	width: 368px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	color: #323232;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	border: 1px solid #d3d3d2;
}

.mailing input[placeholder]{
	font-weight: 400;
}

.mailing input:hover,
.mailing input:focus{
	border: 1px solid #c7c6c5;
}

.mailing input:active {
	border: 1px solid #8fbdec;
}
/*Не получается на всю ширину растянуть*/
.main-map{
	position: relative;
	height: 430px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../img/map.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.main-map:before{
	position: absolute;
	content: "";
	width: 80px;
	height: 140px;
	top: 137px;
	left: 240px;
	background-image: url("../img/Icons/pin.svg");
}

.main-map .info{
	position: absolute;
	top: 63px;
	right: 0;
	width: 245px;
	background-color: #fdfefe;
	color: #323232;
	font-size: 14px;
	line-height: 20px;
	border-radius: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 28px;
	padding-right: 27px;
}

.main-map p{
	margin: 0;
	padding: 0;
    margin-bottom: 25px;
}

.main-map span{
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
}

.map-button{
	font-size: 18px;
	line-height: 24px;
	padding-left: 23px;
	padding-right: 23px;
	padding-top: 11px;
	padding-bottom: 11px;

}

.main-footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: 65px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.footer-item:not(:last-child){
	margin-right: 25px;
}

.main-footer a{
	color: #ffffff;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
    border-bottom: 1px solid #d1d0ce;
}

.main-footer a:hover,
.main-footer a:active {
	color: #ffbc9e;
	border-bottom: 1px solid #ffbc9e;
}


.footer-social ul{
	display: flex;
	justify-content: flex-start;
    padding: 0;
    width: 267px;
}

.social-button{
	display: flex;
	align-items: center;
    justify-content: center;
	width: 32px;
	height: 32px;
	margin-right: 15px;
}

a.social-button{
	border-bottom: none;
	border: 2px solid rgb(255, 255, 255, 0.5);
    border-radius: 50%;
}

a.social-button path{
	fill: rgb(255, 255, 255, 0.8);
}

a.social-button:hover,
a.social-button:active{
	border-bottom: none;
	border: 2px solid rgb(255, 255, 255, 0.5);
    border-radius: 50%;
}

a.social-button:hover path{
	fill: #ffffff;
}

a.social-button:active path{
	fill: rgb(255, 255, 255, 0.8);
}


.footer-menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 560px;
}

.provider{
	position: relative;
}

.provider:before{
    content: "";
    position: absolute;
    width: 15px;
    height: 13px;
    background-image: url(../img/Icons/heart.svg);
    background-repeat: no-repeat;
    left: -22px;
    top: 6px;
}

 li.provider a{
	font-weight: 800;
}


.footer-html-academy{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-end;
	align-content: flex-end;
	width: 267px;
}

.footer-html-academy p{
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 18px;
}

.main-footer ul{
	list-style: none;
}

.footer-html-academy a.logo,
.footer-html-academy a.logo:hover,
.footer-html-academy a.logo:active{
	border-bottom: none;
}

.footer-menu li:first-child{
	font-weight: 700;
}


.breadcrumbs{
   margin: 0;
   padding: 0;
   margin-top: 23px;
   list-style: none;
}

.breadcrumbs li{
	display: inline;
	position: relative;
    margin-right: 18px;
}

.breadcrumbs li:last-child{
	margin-right: 0;
}

.breadcrumbs li:not(:last-child):after{
   position: absolute;
   content: "»";
   margin-right: 5px;
   margin-left: 8px;
}

.breadcrumbs a{
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	border-bottom: 1px solid #d1d0ce;
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
	color: #ffbc9e;
	border-bottom: 1px solid #ffbc9e;
}

.breadcrumbs .current{
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
}

.category-title{
	margin: 0;
	padding: 0;
	font-size: 35px;
	line-height: 41px;
}

.filters-wrapper{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	align-content: space-between;
}


.filtres-category{
	margin-right: 16px;
}

.filtres-category:last-child{
	margin-right: 0;
}

.catalog-filtres{
    margin-top: 11px;
}

.catalog-filtres p{
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
	margin-top: 15px;
	font-size: 14px;
	line-height: 16px;
	padding-left: 15px;
}

.catalog-filtres span{
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 16px;
}

.filtres-item{
	position: relative;
	display: inline-block;
	background-color: rgb(255, 255, 255, 0.2);
	border-radius: 20px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 15px;
	padding-left: 16px;
}


.catalog-filtres .sort{
	width: 164px;
}

.catalog-filtres .sort:before{
	position: absolute;
	content: "";
	right: 16px;
	top: 13px;
	border-right: 5px solid #ffffff;
	border-left: 5px solid #ffffff;
	border-top: 10px solid #ffffff;
	border-bottom: 10px solid #ffffff;
	border-bottom-width: 0px;
    border-right-color: transparent;
    border-left-color: transparent;
}

.catalog-filtres .price{
	width: 184px;
	height: 36px;
	padding: 0;

}

.price-button{
	position: absolute;
    background: red; 
    padding: 0;
    bottom: 1px;
    background: #ffffff;
    border: 10px solid #fff;
    border-radius: 50%;
}

.first-button{
    left: 32px;
}

.second-button{
	right: 10px;
}

.button-sorting,
.button-sorting:hover,
.button-sorting:active{
	background: rgb(255, 255, 255, 0.2);
	border: 2px solid #ffffff;
	font-size: 14px;
	line-height: 16px;
	box-shadow: none;
	text-shadow: none;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 28px;
	padding-left: 28px;
}

.pagination-list{
	display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 35px;
	margin-bottom: 30px;
}

.pagination-item{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.pagination-item a:hover{
	background-color: rgb(255, 255, 255, 0.2);
	border-radius: 50%;
}

.pagination-item a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 26px;
	height: 26px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 600;
}

.pagination-item a:hover,
.pagination-item a:active{
	font-size: 16px;
    line-height: 18px;
    border-bottom: none;
    color: #ffffff;
    font-weight: 600;
}

.pagination-item-current{
	width: 26px;
	height: 26px;
	background-color: #ffffff;
	color: #323232;
	font-size: 16px;
    line-height: 18px;
    font-weight: 600;
}

.pagination-item-back{
    width: 26px;
	height: 26px;
}

.pagination-item-back svg{
	transform: rotate(180deg);
}

.pagination-item-back path{
	fill: rgb(255, 255, 255, 0.2);
}

.catalog-footer{
	border-top: 1px solid rgb(255, 255, 255, 0.2);
}

/*Всплывающие окна*/
.site-form{
	position: absolute;
	margin: 0;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: #f8f7f4;
	z-index: 50;
	box-shadow: 0 10px 20px 5px rgb(50, 50, 50, 0.3);
}

.site-form input[type="text"],
.site-form input[type="email"],
.site-form input[type="password"]{
	box-sizing: border-box;
	outline:none;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 14px;
	padding-right: 14px;
}

.site-form input[type="text"]:hover,
.site-form input[type="email"]:hover,
.site-form input[type="password"]:hover{
	border: 2px solid #c7c6c5;
}

.site-form input[placeholder]{
	color: #999999;
}

.site-form input[type="text"]:active,
.site-form input[type="text"]:focus,
.site-form input[type="email"]:active,
.site-form input[type="password"]:active,
.site-form input[type="email"]:focus,
.site-form input[type="password"]:focus
{
	border: 2px solid #8fbdec;
	font-weight: 800;
	color: #323232;
}

.search-form{
	display: none;
	padding: 20px;
    right: 10px;
	top: 60px;
}

.search-item:hover .search-form{
	display: block;
}

.search-form input[type="text"]{
	width: 282px;
	
	font-size: 14px;
	font-weight: 24px;
}

.login-form{
	display: none;
	right: 10px;
	top: 60px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 17px;
	padding-right: 17px;
}

.login-item:hover .login-form{
	display: block;

}

.login-form input[type="email"],
.login-form input[type="password"]{
	width: 240px;
	margin-bottom: 20px;
}

.button-entrance {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 18px;
	line-height: 24px;
	float: left;
}

.login-form-div{
	float: right;
	margin: 0;
	padding: 0;
}

a.login-form-link{
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 13px;
	line-height: 24px;
	color: #323232;
	border: none; 
	background-color: none;
}

a.login-form-link:hover,
a.login-form-link:active,
a.login-form-link:focus{
	color: #ffbc9e;
	border: none; 
	
}

a.login-form-link:hover span,
a.login-form-link:active span,
a.login-form-link:focus span{
	border-bottom: 1px solid #ffbc9e;
}

a.login-form-link span{
	border-bottom: 1px solid #323232;
}

.basket-form{
	display: none;
	right: 0;
	top: 60px;
	padding-top: 20px;
	padding-bottom: 18px;
	padding-left: 15px;
	padding-right: 15px;
}

.basket-item:hover .basket-form{
	display: block;
}

.basket-table{
	width: 490px;
	border-bottom: 1px solid #ccccc9;
}

.basket-table p{
	margin: 0;
	padding: 0;
	font-size: 13px;
	line-height: 16px;
	color: #323232;

}

.photo-basket{
	width: 33px;
	height: 33px;
	margin-bottom: auto;
    margin-top: auto;
 }

.basket-table span{
	color: #999999;
}

.basket-table-column-name{
    width: 247px;
}

.basket-table-column-x{
    width: 27px;
    position: relative;
    vertical-align: middle;
 }


.basket-table-column-prise{
	width: 121px;
}

.basket-table-column-img{
	width: 47px;
}

.basket-table-column-count{
	width: 69px;
}

.final-sum{
	text-align: right;
	font-size: 15px;
	line-height: 18px;
	color: #323232;
	font-weight: 800;
}

.button-basket{
	float: right;
	font-size: 18px;
	line-height: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 17px;
	padding-right: 17px;

}

.button-X-basket{
	background: transparent;
	font-size: 0;
    border: 0;
    cursor: pointer;
    width: 11px;
    height: 11px;
}

.button-X-basket::before,
.button-X-basket::after {
  content: "";
  position: absolute;
  margin-bottom: auto;
  margin-top: auto;
  top: 0; 
  bottom: 0; 
  width: 1px;
  height: 15px;
  background-color: #231f20;
}

.button-X-basket::before {
  transform: rotate(45deg);
}

.button-X-basket::after {
  transform: rotate(-45deg);
}

.button-X-basket:hover::before,
.button-X-basket:hover::after{
	height: 20px;
}